<a href="https://colab.research.google.com/github/TamiTrav/MVP_PUC/blob/main/Tamiris_Travassos_MVP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **MVP de Análise de Dados e Boas Práticas**

Aluna: Tamiris Severino Travassos

## **1.Definição do problema**

O banco de dados usado nesse projeto será composto por 5 datasets: customer_demographics, customer_location, customer_population, customer_services, e customer_status e encontram-se no Kaggle. 

A seguir falarei sobre algumas informações importantes sobre os datasets: TELCO é uma empresa jovem e com muito potencial, cujas filiais estão localizadas em 1.106 cidades do estado da Califórnia, Estados Unidos. O objetivo desse estudo é entender sobre a perda de clientes e se existe um padrão de churn que possamos identificar, para que futuramente evitemos que esses casos aconteçam.
Dentre os atributos que contém nesse dataset, temos 

Objetivos:
Como esta a distribuição dos clientes por sexo? E por UF? 
Como estão as vendas por UF? Qual vende mais?


Para mais detalhes sobre este dataset, consulte: https://www.kaggle.com/code/datacertlaboratoria/guia-de-resolu-o-projeto-5/input

**Informações sobre os atributos**



A seguir os atributos em cada dataset e sua descrição:
>


A) Dataset **customer_demographics** : Possui as características demográficas dos clientes que solicitam os serviços da empresa TELCO, onde temos as informações pessoas desses clientes. 
>



  1.**Id_cliente** - ID exclusivo que identifica cada cliente.


  2.**Sexo** 


  3.**Idade**- Em anos


  4.**Abaixo_30a** - Indica se o cliente tem abaixo de 30 anos.


  5.**Senior** - Indica se o cliente tem 65 anos ou mais.


  6.**Estado_Civil** 


  7.**Dependentes** - Indica se o cliente vive ou não com um dependente que pode ser um filho, esposa (o), pai ou mãe. 


  8.**Qtde_dependentes** - Quantidade de dependentes que moram com ele.
>



B) Dataset **customer_location** : Fornece informações de localização do cliente do estado da Califórnia, onde os serviços solicitados foram executados.


> 



1.**Id_cliente** - ID exclusivo que identifica cada cliente  


2.**Pais**


3.**Estado**


4.**Cidade**
>



C) Dataset **customer_services** : Mostra as características dos serviços contratados pelo cliente, entre as variáveis ​​​​importantes está o pagamento mensal feito pelo cliente à empresa, receita total, encargos adicionais atribuídos ao cliente por ultrapassar os limites de download ou consumo de dados, entre outros.

>



1.**Id_cliente** - ID exclusivo que identifica cada cliente. 


2.**Indica_amigo** - Indica se o cliente já encaminhou um amigo ou familiar para esta 
empresa(Sim ou Não).


3.**N_indicacoes** - Indica o número de indicações que o cliente fez


4.**Tempo_trim** - Indica o número total de meses em que o cliente está na empresa no final do trimestre.


5.**Ultima_oferta_aceita** - Idinca a última oferta de marketing que o cliente aceitou, se aplicável. Os valores incluem: Nenhum, Oferta A, Oferta B


6.**Linha_tele_b** - Indica se o cliente contrata o serviço de telefonia residencial com a empresa(Sim, Não).


7.**Tarifa_linha** - Indica as tarifas médias de longa distância do cliente, mostradas no final do trimestre especificado anteriormente.


8.**Varias_linhas_tele** - Indica se o cliente contrata várias linhas telefônicas com a empresa (Sim, Não).


9.**Internet_da_empresa** - Indica se o cliente contrata internet com a empresa (Sim, Não).


10.**Tipo_internet** - Indica o tipo de internet que o cliente contrata com a empresa (DLS,Fibra Optica,Cabo).


11.**Numero_downloads** - Indica se o cliente contrata várias linhas telefônicas com a empresa (Sim, Não).


12.**Tipo_contrato** - Indica o tipo de contrato com a empresa (Mês a mês,Ano a ano).


13.**Faturamento_total** - Indica se o cliente optou pelo faturamento sem papel: Sim, Não.


14.**Tipo_pagamento** - Indica como o cliente paga sua fatura: Saque bancário, cartão de crédito, cheque enviado.


15.**Total_gasto** - Indica a cobrança mensal total atual do cliente para todos os serviços da empresa.


16.**Total_encargos** - Indica os encargos totais do cliente, calculados no final do trimestre.


17.**Reembolsos** - Indica o total de reembolsos do cliente, calculado no final do trimestre.


18.**Gasto_download** - Indica os encargos totais do cliente para downloads de dados adicionais acima dos especificados em seu plano.


19.**Total_tarifas** - Indica o total de tarifas de longa distância do cliente acima das especificadas em seu plano, ao final do trimestre especificado


20.**Receita** - Receita total
>



D) Dataset **customer_status** : Contém informações sobre a rotatividade de clientes da empresa no próximo mês com base em vários fatores. A coluna "Churn Label" indica se o cliente saiu ou não no último mês. Outros atributos incluem o ID do cliente, o Índice de Satisfação, o motivo da perda de clientes, entre outros recursos.

>



1.**Id_cliente** - ID exclusivo que identifica cada cliente.


2.**status** - Indica o status do cliente no final do trimestre: Churned, Stayed ou Joined.


3.**Saida_trimestre** - Se o cliente deixou ou não a empresa naquele trimestre. Sim = o cliente deixou a empresa neste trimestre. Não = o cliente baixado na empresa.


4.**Categoria_churn** - Uma categoria de alto nível para o motivo da rotatividade de clientes(Atitude, Concorrente, Insatisfação, Outros).


5.**Motivo_chu** - Motivo específico de um cliente para deixar a empresa. Diretamente relacionado à categoria Churn.

In [78]:
# Import 
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as ms # para tratamento de missings
from matplotlib import cm
from pandas import set_option
from pandas.plotting import scatter_matrix

In [79]:
# configuração para não exibir os warnings
import warnings
warnings.filterwarnings("ignore")

## **2. Carga de Dados**

In [80]:
# Carrega arquivo csv usando Pandas usando uma URL

# Informa a URL de importação dos datasets

In [121]:
customer_demographics = pd.read_csv('https://raw.githubusercontent.com/TamiTrav/MVP_PUC/main/Telco_customer_churn_demographics.csv', sep=';')
#print(customer_demographics)
customer_location = pd.read_csv('https://raw.githubusercontent.com/TamiTrav/MVP_PUC/main/Telco_customer_churn_location.csv', sep=';')
#print(customer_location)
customer_services = pd.read_csv('https://raw.githubusercontent.com/TamiTrav/MVP_PUC/main/Telco_customer_churn_services.csv', sep=';')
#print(customer_services)
customer_status = pd.read_csv('https://raw.githubusercontent.com/TamiTrav/MVP_PUC/main/Telco_customer_churn_status.csv', sep=';')
customer_status.head()

,id_cliente,status,saida_trimestre,categoria_churn,motivo_churn
0,8779-QRDMV,Churned,Yes,Competitor,Competitor offered more data
1,7495-OOKFY,Churned,Yes,Competitor,Competitor made better offer
2,1658-BYGOY,Churned,Yes,Competitor,Competitor made better offer
3,4598-XLKNJ,Churned,Yes,Dissatisfaction,Limited range of services
4,4846-WHAFZ,Churned,Yes,Price,Extra data charges

Após carregamos o dataset iremos explorá-lo.

A tabela demographics mostra as características demográficas dos clientes que solicitam os serviços da empresa TELCO. Grande parte dessas variáveis ​​​​estão relacionadas às informações pessoais do cliente, como o número de dependentes que possui, estado civil, idade , etc.

A tabela location fornece informações de localização do cliente do estado da Califórnia, onde os serviços solicitados foram executados.

A tabela services mostra as características dos serviços contratados pelo cliente, entre as variáveis ​​​​importantes está o pagamento mensal feito pelo cliente à empresa, receita total, encargos adicionais atribuídos ao cliente por ultrapassar os limites de download ou consumo de dados, entre outros.

A tabela status contém informações sobre a rotatividade de clientes da empresa no próximo mês com base em vários fatores, como a informação se o cliente saiu ou não no último mês ou ainda o Índice de Satisfação, o motivo da perda de clientes, entre outros.

## **3. Análise de dados**

**3.1 Estatísticas Descritivas**

Vamos iniciar examinando as dimensões do dataset, suas informações e alguns exemplos de linhas.

In [82]:
# Mostra as dimensões do dataset
print(df.shape)

(7043, 28)

In [83]:
# Verificando o tipo dos datasets, se são dataframes para poder uni-los através do merge
type(customer_demographics)

pandas.core.frame.DataFrame

In [122]:
# Carrega os arquivos csv e junta os datasets, tornando-os em um banco de dados. 
# Explicando a técnica: Através do merge vamos unir os datasets dois a dois, pelas observações em comum  usando como chave o id_cliente. 

df1 = pd.merge(customer_demographics,customer_location,how = 'inner', on = 'id_cliente') 
print(df1)

df2 = pd.merge(customer_services,customer_status,how = 'inner', on = 'id_cliente') 
print(df2)

df = pd.merge(df1,df2,how='inner',on='id_cliente')
print(df)

      id_cliente    sexo  idade abaixo_30a senior estado_civil dependentes  \
0     8779-QRDMV       M     78         No    Yes           No          No
1     7495-OOKFY       F     74         No    Yes          Yes         Yes
2     1658-BYGOY       M     71         No    Yes           No         Yes
3     4598-XLKNJ       F     78         No    Yes          Yes         Yes
4     4846-WHAFZ       F     80         No    Yes          Yes         Yes
...          ...     ...    ...        ...    ...          ...         ...
7038  3389-KTRXV  Female    115         No     No          Yes         Yes
7039  4020-KIUDI    Male    108         No     No          Yes         Yes
7040  0970-QXPXW  Female    116        Yes     No           No          No
7041  2133-TSRRM  Female    109         No     No           No         Yes
7042  6447-GORXK    Male    108        Yes     No           No         Yes

      qtde_dependente           pais      estado       cidade
0                   0  United States  California  Los Angeles
1                   1  United States  California  Los Angeles
2                   3  United States  California  Los Angeles
3                   1  United States  California    Inglewood
4                   1  United States  California     Whittier
...               ...            ...         ...          ...
7038                3  United States  California    Ravendale
7039                2  United States  California  Los Angeles
7040                0  United States  California     Monrovia
7041                3  United States  California     Rosemead
7042                3  United States  California    San Diego

[7043 rows x 11 columns]
      id_cliente indica_amigo  n_indicacoes  tempo_empresa  \
0     8779-QRDMV           No             0              1
1     7495-OOKFY          Yes             1              8
2     1658-BYGOY           No             0             18
3     4598-XLKNJ          Yes             1             25
4     4846-WHAFZ          Yes             1             37
...          ...          ...           ...            ...
7038  9388-ZEYVT           No             0             43
7039  6898-RBTLU          Yes             9             49
7040  5681-LLOEI          Yes            11             43
7041  1036-GUDCL          Yes             1             60
7042  2408-PSJVE          Yes             1             44

     ultima_oferta_aceita contrata_telefonia  tarifa_linha  \
0                    None                 No          0.00
1                 Offer E                Yes         48.85
2                 Offer D                Yes         11.33
3                 Offer C                Yes         19.76
4                 Offer C                Yes          6.33
...                   ...                ...           ...
7038              Offer B                 No          0.00
7039              Offer B                Yes         16.60
7040                 None                Yes         42.22
7041                 None                Yes         39.76
7042                 None                Yes         37.68

     varias_linhas_telefonicas internet_da_empresa tipo_internet  \
0                           No                 Yes           DSL
1                          Yes                 Yes   Fiber Optic
2                          Yes                 Yes   Fiber Optic
3                           No                 Yes   Fiber Optic
4                          Yes                 Yes   Fiber Optic
...                        ...                 ...           ...
7038                        No                 Yes           DSL
7039                       Yes                 Yes           DSL
7040                       Yes                 Yes   Fiber Optic
7041                        No                 Yes           DSL
7042                        No                 Yes           DSL

       tipo_contrato faturamento_papel   tipo_pagamento  receita   status  \
0     Month-to-Month               Yes  Bank Withdrawal    59.65  Churned
1     Month-to-Month               Yes      Credit Card  1024.10  Churned
2     Month-to-Month               Yes  Bank Withdrawal  1910.88  Churned
3     Month-to-Month               Yes  Bank Withdrawal  2995.07  Churned
4     Month-to-Month               Yes  Bank Withdrawal  3102.36  Churned
...              ...               ...              ...      ...      ...
7038        One Year                No  Bank Withdrawal  1931.30   Stayed
7039        Two Year                No  Bank Withdrawal  4715.85   Stayed
7040        One Year               Yes      Credit Card  5803.77   Stayed
7041  Month-to-Month               Yes      Credit Card  7049.00   Stayed
7042  Month-to-Month               Yes      Credit Card  4581.97   Stayed

     saida_trimestre  categoria_churn                  motivo_churn
0                Yes       Competitor  Competitor offered more data
1                Yes       Competitor  Competitor made better offer
2                Yes       Competitor  Competitor made better offer
3                Yes  Dissatisfaction     Limited range of services
4                Yes            Price            Extra data charges
...              ...              ...                           ...
7038              No              NaN                           NaN
7039              No              NaN                           NaN
7040              No              NaN                           NaN
7041              No              NaN                           NaN
7042              No              NaN                           NaN

[7043 rows x 18 columns]
      id_cliente    sexo  idade abaixo_30a senior estado_civil dependentes  \
0     8779-QRDMV       M     78         No    Yes           No          No
1     7495-OOKFY       F     74         No    Yes          Yes         Yes
2     1658-BYGOY       M     71         No    Yes           No         Yes
3     4598-XLKNJ       F     78         No    Yes          Yes         Yes
4     4846-WHAFZ       F     80         No    Yes          Yes         Yes
...          ...     ...    ...        ...    ...          ...         ...
7038  3389-KTRXV  Female    115         No     No          Yes         Yes
7039  4020-KIUDI    Male    108         No     No          Yes         Yes
7040  0970-QXPXW  Female    116        Yes     No           No          No
7041  2133-TSRRM  Female    109         No     No           No         Yes
7042  6447-GORXK    Male    108        Yes     No           No         Yes

      qtde_dependente           pais      estado  ... internet_da_empresa  \
0                   0  United States  California  ...                 Yes
1                   1  United States  California  ...                 Yes
2                   3  United States  California  ...                 Yes
3                   1  United States  California  ...                 Yes
4                   1  United States  California  ...                 Yes
...               ...            ...         ...  ...                 ...
7038                3  United States  California  ...                  No
7039                2  United States  California  ...                  No
7040                0  United States  California  ...                  No
7041                3  United States  California  ...                 Yes
7042                3  United States  California  ...                 Yes

     tipo_internet   tipo_contrato  faturamento_papel   tipo_pagamento  \
0              DSL  Month-to-Month                Yes  Bank Withdrawal
1      Fiber Optic  Month-to-Month                Yes      Credit Card
2      Fiber Optic  Month-to-Month                Yes  Bank Withdrawal
3      Fiber Optic  Month-to-Month                Yes  Bank Withdrawal
4      Fiber Optic  Month-to-Month                Yes  Bank Withdrawal
...            ...             ...                ...              ...
7038          None        Two Year                 No      Credit Card
7039          None  Month-to-Month                 No      Credit Card
7040          None  Month-to-Month                 No      Credit Card
7041   Fiber Optic  Month-to-Month                Yes  Bank Withdrawal
7042         Cable  Month-to-Month                 No      Credit Card

      receita   status saida_trimestre  categoria_churn  \
0       59.65  Churned             Yes       Competitor
1     1024.10  Churned             Yes       Competitor
2     1910.88  Churned             Yes       Competitor
3     2995.07  Churned             Yes  Dissatisfaction
4     3102.36  Churned             Yes            Price
...       ...      ...             ...              ...
7038   789.18   Stayed              No              NaN
7039   281.23   Stayed              No              NaN
7040    62.07   Joined              No              NaN
7041  4918.56   Stayed              No              NaN
7042   766.80   Stayed              No              NaN

                      motivo_churn
0     Competitor offered more data
1     Competitor made better offer
2     Competitor made better offer
3        Limited range of services
4               Extra data charges
...                            ...
7038                           NaN
7039                           NaN
7040                           NaN
7041                           NaN
7042                           NaN

[7043 rows x 28 columns]

In [ ]:
# Mostra as informações do dataset
print(df.info())

In [86]:
# Mostra as 10 primeiras linhas do dataset
df.head(10)

,id_cliente,sexo,idade,abaixo_30a,senior,estado_civil,dependentes,qtde_dependente,pais,estado,...,internet_da_empresa,tipo_internet,tipo_contrato,faturamento_papel,tipo_pagamento,receita,status,saida_trimestre,categoria_churn,motivo_churn
0,8779-QRDMV,M,78,No,Yes,No,No,0,United States,California,...,Yes,DSL,Month-to-Month,Yes,Bank Withdrawal,59.65,Churned,Yes,Competitor,Competitor offered more data
1,7495-OOKFY,F,74,No,Yes,Yes,Yes,1,United States,California,...,Yes,Fiber Optic,Month-to-Month,Yes,Credit Card,1024.10,Churned,Yes,Competitor,Competitor made better offer
2,1658-BYGOY,M,71,No,Yes,No,Yes,3,United States,California,...,Yes,Fiber Optic,Month-to-Month,Yes,Bank Withdrawal,1910.88,Churned,Yes,Competitor,Competitor made better offer
3,4598-XLKNJ,F,78,No,Yes,Yes,Yes,1,United States,California,...,Yes,Fiber Optic,Month-to-Month,Yes,Bank Withdrawal,2995.07,Churned,Yes,Dissatisfaction,Limited range of services
4,4846-WHAFZ,F,80,No,Yes,Yes,Yes,1,United States,California,...,Yes,Fiber Optic,Month-to-Month,Yes,Bank Withdrawal,3102.36,Churned,Yes,Price,Extra data charges
5,4412-YLTKF,F,72,No,Yes,No,Yes,1,United States,California,...,Yes,Fiber Optic,Month-to-Month,Yes,Bank Withdrawal,2235.41,Churned,Yes,Competitor,Competitor had better devices
6,0390-DCFDQ,F,76,No,Yes,Yes,Yes,2,United States,California,...,Yes,Fiber Optic,Month-to-Month,Yes,Mailed Check,85.73,Churned,Yes,Other,Don't know
7,3445-HXXGF,M,66,No,Yes,Yes,No,0,United States,California,...,Yes,DSL,Month-to-Month,Yes,Bank Withdrawal,2610.25,Churned,Yes,Dissatisfaction,Service dissatisfaction
8,2656-FMOKZ,F,70,No,Yes,No,Yes,2,United States,California,...,Yes,Fiber Optic,Month-to-Month,Yes,Mailed Check,1806.75,Churned,Yes,Dissatisfaction,Limited range of services
9,2070-FNEXE,F,77,No,Yes,No,Yes,2,United States,California,...,Yes,Fiber Optic,Month-to-Month,No,Bank Withdrawal,681.20,Churned,Yes,Price,Lack of affordable download/upload speed

In [87]:
# Mostra as 10 ultimas linhas do dataset
df.tail(10)

,id_cliente,sexo,idade,abaixo_30a,senior,estado_civil,dependentes,qtde_dependente,pais,estado,...,internet_da_empresa,tipo_internet,tipo_contrato,faturamento_papel,tipo_pagamento,receita,status,saida_trimestre,categoria_churn,motivo_churn
7033,3726-TBHQT,Male,112,Yes,No,Yes,Yes,1,United States,California,...,Yes,Fiber Optic,Two Year,Yes,Bank Withdrawal,9982.85,Stayed,No,NaN,NaN
7034,2330-PQGDQ,Male,109,No,No,Yes,Yes,3,United States,California,...,Yes,Fiber Optic,One Year,No,Bank Withdrawal,4744.57,Stayed,No,NaN,NaN
7035,9962-BFPDU,Female,111,No,No,Yes,Yes,3,United States,California,...,No,None,Month-to-Month,No,Credit Card,36.07,Joined,No,NaN,NaN
7036,0186-CAERR,Male,118,Yes,No,No,No,0,United States,California,...,Yes,Fiber Optic,One Year,Yes,Bank Withdrawal,8514.03,Stayed,No,NaN,NaN
7037,8164-OCKUJ,Female,108,No,No,Yes,Yes,2,United States,California,...,No,None,Two Year,No,Credit Card,1431.73,Stayed,No,NaN,NaN
7038,3389-KTRXV,Female,115,No,No,Yes,Yes,3,United States,California,...,No,None,Two Year,No,Credit Card,789.18,Stayed,No,NaN,NaN
7039,4020-KIUDI,Male,108,No,No,Yes,Yes,2,United States,California,...,No,None,Month-to-Month,No,Credit Card,281.23,Stayed,No,NaN,NaN
7040,0970-QXPXW,Female,116,Yes,No,No,No,0,United States,California,...,No,None,Month-to-Month,No,Credit Card,62.07,Joined,No,NaN,NaN
7041,2133-TSRRM,Female,109,No,No,No,Yes,3,United States,California,...,Yes,Fiber Optic,Month-to-Month,Yes,Bank Withdrawal,4918.56,Stayed,No,NaN,NaN
7042,6447-GORXK,Male,108,Yes,No,No,Yes,3,United States,California,...,Yes,Cable,Month-to-Month,No,Credit Card,766.80,Stayed,No,NaN,NaN

In [88]:
# Verifica o tipo de dataset de cada atributo
df.dtypes

id_cliente                    object
sexo                          object
idade                          int64
abaixo_30a                    object
senior                        object
estado_civil                  object
dependentes                   object
qtde_dependente                int64
pais                          object
estado                        object
cidade                        object
indica_amigo                  object
n_indicacoes                   int64
tempo_empresa                  int64
ultima_oferta_aceita          object
contrata_telefonia            object
tarifa_linha                 float64
varias_linhas_telefonicas     object
internet_da_empresa           object
tipo_internet                 object
tipo_contrato                 object
faturamento_papel             object
tipo_pagamento                object
receita                      float64
status                        object
saida_trimestre               object
categoria_churn               object
motivo_churn                  object
dtype: object

In [89]:
# Faz um resumo estatístico do dataset (média, desvio padrão, mínimo, máximo e os quartis)
df.describe()

,idade,qtde_dependente,n_indicacoes,tempo_empresa,tarifa_linha,receita
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,47.466279,0.468692,1.951867,32.386767,22.958954,3034.379056
std,18.391529,0.962802,3.001199,24.542061,15.448113,2865.204542
min,19.000000,0.000000,0.000000,1.000000,0.000000,21.360000
25%,33.000000,0.000000,0.000000,9.000000,9.210000,605.610000
50%,46.000000,0.000000,0.000000,29.000000,22.890000,2108.640000
75%,60.000000,0.000000,3.000000,55.000000,36.395000,4801.145000
max,119.000000,9.000000,11.000000,72.000000,49.990000,11979.340000

In [90]:
#Vamos agora verificar se o dataset tem as classes balanceadas para que possamos tratar o desbalanceamento posteriormente, se necessário. 
#Podemos observar que as classes do churn estão desbalanceadas sim, mais futuramente teremos que tratar isso.
print(df.groupby('status').size())

status
Churned    1869
Joined      454
Stayed     4720
dtype: int64

**3.2 Visualizações Unimodais**


Vamos criar agora um histograma para cada atributo do dataset. Veremos que o 
atributo receita segue uma distribuição exponencial.

In [ ]:
df.hist(figsize = (15,10))
plt.show()

O Gráfico de Densidade, ou Density Plot, é bem parecido com o histograma, mas com uma visualização um pouco diferente. Com ele, pode ser mais fácil identificar a distribuição do atributos do dataset. Assim como fizemos com o histograma, vamos criar um density plot para cada atributo do dataset.

Veremos que muitos dos atributos têm uma distribuição distorcida, como por exemplo os atributos receita e número de indicações. Uma transformação como a Box-Cox, que pode aproximar a distribuição de uma Normal, pode ser útil neste caso.

In [ ]:
# Density Plot
df.plot(kind = 'density', subplots = True, layout = (2,3), sharex = False, figsize = (14,9))
plt.show()

Vamos agora trabalhar com boxplots. No boxblot, a linha no centro (vermelha) representa o valor da mediana (segundo quartil ou p50). A linha abaixo é o 1o quartil (p25) e a linha acima o terceiro quartil (p75). O boxplot ajuda a ter uma ideia da dispersão dos dataset e os possíveis outliers.

OBS: Se um ponto do dataset é muito distante da média (acima de 3 desvios padrão da média), pode ser considerado outlier.

Nos gráficos bloxplot, veremos que a dispersão dos atributos do dataset é bem diferente. A exemplo temos a quantidade de dependentes com muitos outliers.

In [ ]:
# Boxplot
df.plot(kind = 'box', subplots = True, layout = (4,3), sharex = False, sharey = False, figsize = (15,10))
plt.show()

### **3.3. Visualizações Multimodais**

Ao visualizar as correlações entre os atributos através da matriz de correlação, perceberemos que parece haver alguma estrutura na ordem dos atributos. O azul ao redor da diagonal sugere que os atributos que estão próximos um do outro são geralmente mais correlacionados entre si. Os vermelhos também sugerem alguma correlação negativa moderada, a medida que os atributos

Vamos agora verificar a covariância entre as variáveis numéricas do dataset. A covariância representa como duas variáveis numéricas estão relacionadas. Existem várias formas de calcular a correlação entre duas variáveis, como por exemplo, o coeficiente de correlação de Pearson, que pode ser:

Próximo de -1 : há uma correlação negativa entre as variáveis, 
>
Próximo de +1: há uma correlação positiva entre as variáveis.
>
0: não há correlação entre as variáveis.

OBS: Esta informação é relevante porque alguns algoritmos como regressão linear e regressão logística podem apresentar problemas de performance se houver atributos altamente correlacionados. Vale a pena consultar a documentação do algoritmo para verificar se algum tipo de tratamento de dataset é necessário.

Falamos anteriormente da importância da correlação entre os atributos, e agora iremos visualizar esta informação em formato gráfico. A matriz de correlação exibe graficamente a correlação entre os atributos numéricos do dataset.estão mais distantes um do outro na ordenação.

O código a seguir exibe a matriz de correlação.

In [ ]:
# Matriz de Correlação com Matplotlib Seaborn
sns.heatmap(df.corr(), annot=True, cmap='RdBu');

Por sua vez, o gráfico de dispersão (scatter plot) mostra o relacionamento entre duas variáveis. Vamos exibir um para cada par de atributos dos dataset, usando o Seaborn.

In [ ]:
# Scatter Plot com Seaborn - Variação 1

sns.pairplot(df)

## **4. Pré-Processamento de dados**

Nesta etapa, poderíamos realizar diversas operações de preparação de dados, como por exemplo, tratamento de valores missings (faltantes), limpeza de dados, transformações como one-hot-encoding, seleção de características (feature selection), entre outras não mostradas neste notebook.

**4.1 Tratamento de Missing e Limpeza**

Já vimos que o dataset de telecomunicações da empresa TELCO tem missings aparentes, como valores "NAN" que parecem ser missings. Vamos então investigar e fazer o tratamento necessário e criar uma nova visão do nosso dataset. Os atributos categoria churn e motivo churn tem 5174 missings.

In [ ]:
# verificando nulls no dataset
df.isnull().sum()

In [ ]:
# verificando se os missings nos atributos categoria churn e motivo churn se dão devido ao atributo status estar como 'Churned', logo o cliente
# não tem motivo de churn nessa categoria. 

#Abaixo eu criei um dataset teste apenas com quem tem status 'Churned' e verifiquei que não tinha nenhum missing nas duas colunas acima mencionadas.
# então conclui minha hipótese de que os missings nessas duas colunas se dão devido ao status estar como 'Churned'.  
indice = df[df['status'] =='Churned']
print(indice)
indice.isnull().sum()

In [145]:
# salvando um NOVO dataset para tratamento de missings, por boas práticas.
# recuperando os nomes das colunas
col = list(df.columns)

# o novo dataset com todas as colunas
atributos = df[col[:]]

# exibindo visualização matricial da nulidade do dataset sem a alteração dos NaN para "Não se aplica"
ms.matrix(df)

In [ ]:
# exibindo visualização matricial da nulidade do dataset após a alteração dos NaN para "Não se aplica"
# substituindo os NaN, por não se aplica
atributos['motivo_churn'] = df['motivo_churn'].replace(np.nan, "Not applicable")
atributos['categoria_churn'] = df['categoria_churn'].replace(np.nan, "Not applicable")

ms.matrix(atributos)

In [ ]:
# guardando o novo dataset para testes futuros
datasetSemMissings = atributos

# exibindo as primeiras linhas
datasetSemMissings.tail()